<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="../styles/temperature.css" >
  </link>

</head>

<body>
  <%- include('partials/navbar') %>

    <form action="/temperature" id="dateForm" method="post">
    <div class="row mx-auto">
      <div class="form-group col-4">
        <label for="datepicker">Select a Date:</label>
        <input type="date" class="form-control" id="datepicker" name="temperature[date]">
      </div>
      <div class="col-2 my-4">
        <button class="btn btn-primary">Submit</button>
        </div>
    </div>
    </form>
    <section class="fluid-container w-100 px-2 mx-auto " style="height: 70vh;">
      <% if(temps.length===0){ %>
        <div class="container d-flex justify-content-center align-items-center vh-100">
          <div class="alert alert-danger text-center" role="alert">
            No data available
          </div>
        </div>
        <% } else{%>
          <div class="card w-100 m-2 d-flex justify-content-between" id="chartCard" style="border: none;">
            <div class="row no-gutters">
              <div class="col-md-8" id="chartDiv">
                <canvas class="card-img" id="chart"></canvas>
              </div>
              <div class="col-md-4" id="chartContent">
                <div class="card-body">
                  <h5 class="card-title"><b>Temperature</b></h5>
                  <p class="card-text">
                    <p>
                      <button class="btn btn-close-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                        </svg>
                        Average Temperature
                      </button>
                    </p>
                    <div style="min-height: 120px;">
                      <div class="collapse collapse-horizontal" id="collapseWidthExample">
                        <div class="card card-body" style="width: 300px;">
                          This is some placeholder content for a horizontal collapse. It's hidden by default and shown when triggered.
                        </div>
                      </div>
                    </div>
                  </p>
                  <p class="card-text">Additional content goes here.</p>
                </div>
              </div>
              
            </div>
          </div>
          <% } %>







            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

            <script>
              const ctx = document.getElementById('chart');
              const temps = JSON.parse('<%- JSON.stringify(temps) %>');
              let tempArr = [];
              const timeArr = [];
              for (let temp of temps) {
                tempArr.push(temp.temp);
                timeArr.push(temp.time);
              }
              new Chart(ctx, {
                type: 'line',
                data: {
                  labels: timeArr.map((el) => {
                    el = new Date(el);
                    return `${el.getHours()}:${el.getMinutes()}`;
                  }),//['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                  datasets: [{
                    label: '\u00B0C',
                    data: tempArr,//[12, 19, 3, 5, 2, 3],
                    borderWidth: 1
                  }]
                },
                options: {
                  scales: {
                    y: {
                      beginAtZero: true
                    }
                  }
                }
              });

               function avgTemperature(tempArr){
                let sum=0;
                for(let i=0;i<tempArr.length;i++){
                  sum+=tempArr[i];
                }
                sum=sum/tempArr.length;
                console.log(sum);
                return sum;
               }
               avgTemperature(tempArr);
            </script>

</body>

</html>